body {
    font-family: sans-serif;
    width: 300px; /* Default width */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

p {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 15px;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

#loadingIndicator {
    margin-bottom: 15px;
    font-style: italic;
}

#results {
    text-align: left;
    width: 100%; /* Make results take full width */
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

#results h2 {
    font-size: 1.1em;
    margin-bottom: 5px;
    text-align: center;
}
#results h3 {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 5px;
}

#error {
    margin-top: 15px;
    font-weight: bold;
}

body.expanded {
    width: 500px; /* Expanded width */
}